@model IEnumerable<MyMoneyManager.Models.Movimenti>

@{
    ViewBag.Title = "Index";
}

<div class="row animated fadeInRight">
    <div class="col-md-12">

        <h2>Index</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <div class="portlet box yellow">
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover dataTables-example" id="sample_2">
                    <thead>
                        <tr>
                            <th>
                                DataValuta
                            </th>
                            <th>
                                Importo
                            </th>
                            <th>
                                Descrizione
                            </th>
                            <th>
                                Causale
                            </th>
                            <th>
                                Descrizione
                            </th>
                            <th>
                                ContiCorrente
                            </th>
                            <th>
                                Tipo
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Where(q => q.IDCategoriaIphase < 0))
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DataValuta)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Importo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descrizione)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Causale)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CategorieIphase.Descrizione)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ContiCorrente.Descrizione)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TipoMovimento.Descrizione)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ID })
                            </td>
                        </tr>
                        }
                    </tbody>
                    <tfoot class="filters">
                        <tr>
                            <th>
                                DataValuta
                            </th>
                            <th>
                                Entrate: @Html.DisplayFor(model => model.Where(q => q.Importo > 0).Sum(q => q.Importo).Value)
                                <br />
                                Uscite: @Html.DisplayFor(model => model.Where(q => q.Importo < 0).Sum(q => q.Importo).Value)
                            </th>
                            <th>
                                Descrizione
                            </th>
                            <th>
                                Causale
                            </th>
                            <th>
                                Categoria
                            </th>
                            <th>
                                ContiCorrente
                            </th>
                            <th>
                                Tipo
                            </th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tfoot>
                        <tr>
                            <th>
                                DataValuta
                            </th>
                            <th class="total">
                                Entrate: @Html.DisplayFor(model => model.Where(q => q.Importo > 0).Sum(q => q.Importo).Value)
                                <br />
                                Uscite: @Html.DisplayFor(model => model.Where(q => q.Importo < 0).Sum(q => q.Importo).Value)
                            </th>
                            <th>
                                Descrizione
                            </th>
                            <th>
                                Causale
                            </th>
                            <th>
                                Categoria
                            </th>
                            <th>
                                ContiCorrente
                            </th>
                            <th>
                                Tipo
                            </th>
                            <th></th>
                        </tr>
                    </tfoot>

                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.dataTables-example').DataTable({
            pageLength: 10,
            responsive: true,
            dom:
                "<'row'<'col-sm-3'l><'col-sm-6 text-center'B><'col-sm-3'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-5'i><'col-sm-7'p>>"
        });

        $('#your_button_id').removeClass('btn-default');
        // Setup - add a text input to each footer cell
        $('.dataTables-example tfoot.filters th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Ricerca" />');
        });

        // DataTable
        var table = $('.dataTables-example').DataTable();

        // Apply the search
        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });

        $('.dataTables-example tfoot.filters tr').appendTo('.dataTables-example thead');

    });

</script>


